body {
  margin: 0;
}

.App {
  font-family: Graphik;
  text-align: center;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: #111111;
}

a:hover {
  color: #55489e;
}

/* Feed layout*/
.header {
  display: flex;
  justify-content: center;
  margin-bottom: 10rem;
  padding-top: 4rem;
  text-transform: uppercase;
  font-size: 1.5rem;
  background-color: #69a2bd;
  color: #ffffff;
}

h1 {
  margin-top: 15rem;
  margin-bottom: -0.7rem;
}

.feed-container {
  max-width: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
}

.story-results {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
/* Story Cards */
.story-container {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  text-align: left;
  justify-content: center;
  padding: 1.5rem;
  border-radius: 2.5rem;
  /* max-width: 70%; */
}

.story-preview {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.story-texts-column {
  display: flex;
  flex-direction: column;
}
.story_author {
  display: block;
  font-size: 0.75rem;
  text-transform: uppercase;
}

.story-image img {
  width: 16rem;
  border-radius: 1.2rem;
}

.description-text {
  text-align: left;
  max-width: 44rem;
  display: block;
}

p {
  text-overflow: ellipsis; /* will make [...] at the end */
  width: 60em; /* change to your preferences */
  white-space: nowrap; /* paragraph to one line */
  overflow: hidden; /* older browsers */
}
